.button {
  color: $color-text_light;
  background-color: $color-main;
  padding: 13px 18px;
  border: 1px solid $color-main;
  border-radius: 5px;
  font-size: 16px;
  line-height: 16px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($color-main, 10%);
    border: 1px solid lighten($color-main, 10%);
  }

  &-o {
    color: $color-text_dark;
    background-color: transparent;
    border: 1px solid $color-text_dark;

    &:hover {
      color: $color-main;
      background-color: transparent;
      border: 1px solid $color-main; 
    }
  }

  img {
    vertical-align: middle;
  }
}

.header-phone_button,
.form-button_main,
.form-button_modal,
.product-block_button {
  margin-left: 12px;
}

.form-button_offer {
  margin-bottom: 10px;
}
