.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-text_dark;
  z-index: 3;

  &-menu {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    text-decoration: none;
    text-transform: uppercase;

    &_items {
      position: relative;
      font-size: 12px;
      line-height: 22px;
      color: $color-text_light;

      &::after {
        content: '';
        position: absolute;
        transform-origin: center;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 1px;
        background-color: $color-main;
        opacity: 0;
        transition: .3s;
      }

      &:hover {
        text-decoration: none;
        color: $color-text_light;
      }

      &:hover::after {
        opacity: 1;
        transform: scaleX(50);
      }
    }
  }
}