.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {

    img {
      height: 59px;
    }
  }

  &-phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &_number {
      font-size: 22px;
      line-height: 22px;
      text-transform: uppercase;
      padding: 0 13px;

      &:first-child {
        border-right: 1px solid lighten($color-text_dark, 50%);
      }
    }
  }
}