.main {
  background: $color-bg_dark url(../img/main/main-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  position: relative;
  z-index: 0;
  color: $color-text_light;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
  }

  &-img {
    transform: translateX(-100px);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border: 1px solid $color-text_light;
      opacity: .4;
      border-radius: 50%;
      height: 388px;
      width: 388px;
      z-index: -1;
      transform: translate(0px, 15px);
    }
  }

  &-cont {

    &_title {
      font-family: 'Roboto Black';
      line-height: 42px;
      font-size: 41px;
      margin-bottom: 10px;
    }
    
    &_subtitle {
      font-size: 28px;
      margin-bottom: 20px;
    }

    &_form {
      background-color: rgba(255, 255, 255, 0.2);
      padding: 25px;

      .form-text {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;

        &_alert {
          display: inline-block;
          font-family: 'Roboto Black';
          text-transform: uppercase;
        }
      }

      .form-request {
        display: inline-flex;
        margin-bottom: 10px;
      }

      .form-text_small {
        font-size: 14px;
        line-height: 30px;
        margin-left: 20px;
      }
    }
  }
}
